<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <a class="btn btn-primary float-right" href="/download/result.txt">Download</a>
        <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Grade</th>
            </thead>
            <tbody>
            <tr th:each="student : ${result.students}">
                <td><span th:text="${student.name}"></span></td>
                <td><span th:text="${student.grade}"></span></td>
            </tr>
            </tbody>
        </table>
        <h4 class="col-md-12">Sorting time: <span th:text="${result.time}"></span> seconds</h4>
        <a class="btn btn-secondary" href="/">Back</a>
    </div>
</body>
</html>